@model MathPro.Domain.Entities.Subsection

@{
    ViewBag.Title = "Подробнее";
}

<h2>Details</h2>

<div>
    <h4>Subsection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.SubsectionId }) |
    @Html.ActionLink("Обратно", "Index")
</p>
