@model MathPro.WebUI.Models.MessageListViewModel
@{
    ViewBag.Title = "Мои сообщения";
    
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@if (Model.PagingInfo.TotalPages == 0)
{
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-info" role="alert">
                <p>Ooops! У тебя нет сообщений !</p>
            </div>
        </div>
        <div class="col-md-8">

        </div>
    </div>

}
else { 
<table class="table">
    <tr>
        <th>
                    
        </th>
    </tr>
    @foreach (var item in Model.Messages)
    {
        <tr>
            <td>
                @{ Html.RenderPartial("_Message", item); }
            </td>
        </tr>
    }
</table>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
}