@model MathPro.WebUI.Models.MessageViewModel

@{
    ViewBag.Title = "Сообщение";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@{ Html.RenderPartial("_ReadMessage", Model); }

@Html.ActionLink("Ответить", "Reply", "Message", new { username = Model.OtherUser }, null)