@model MathPro.Domain.Entities.Message

@{
    ViewBag.Title = "Написать сообщение";
}

@Html.Partial("~/Views/Shared/_MessageBreadcrumbs.cshtml")

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>


@using (Html.BeginForm("Send", "Message", FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">                               
            <input type="text" class="form-control" placeholder="Кому">            
    </div>

    <div class="form-group">
            <textarea class="form-control" rows="8" placeholder="Введите сообщение"></textarea>
    </div>
    <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Отправить" />
    </div>
    
}

<script>
    $(document).ready(function () {

    });

</script>