<ol class="breadcrumb">
    <li>@Html.ActionLink("Написать сообщение", "Send", "Message")</li>
    <li>@Html.ActionLink("Входящие", "IncomingBox", "Message")</li>
    <li>@Html.ActionLink("Отправленные", "OutBox", "Message")</li>    
</ol>
