<ol class="breadcrumb">
    <li>@Html.ActionLink("Профиль", "Me", "UserProfile")</li>
    <li>@Html.ActionLink("Редактировать", "Edit", "UserProfile")</li>
    <li>@Html.ActionLink("Мои попытки", "MyAttempts", "UserAttempt")</li>
    <li>@Html.ActionLink("Настройки аккаунта", "Index", "Manage")</li>
</ol>