@model MathPro.WebUI.Models.UserProfileViewModel
@{
    ViewBag.Title = "Информация о пользователе";
}


<div class="page-header">
    <h2>@ViewBag.Title <span class="text-info">@Model.FullName</span> </h2>
</div>

@Html.Partial("_Profile", Model)

@Html.ActionLink("Написать", "Reply", "Message", new { username = Model.UserName }, null)


