@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MathPro</h1>
    <p class="lead">Наш проект предназначен для людей, которые интересуются разными разделами математики.</p>
    <p class="lead">Хотите начать решать задачи, тогда вперед!</p>
    <p><a href="@Url.Action("Assignments", "Home")" class="btn btn-primary btn-lg">Вперед &raquo;</a></p>    
</div>